
.subrayado {
    border-bottom: 5px solid rgb(164, 164, 164); /* Grosor y color del subrayado */
    /* display: inline-block; Hace que el div se comporte como un elemento en línea */
    padding-bottom: 4px; /* Espacio entre el contenido y el subrayado */
  }

.titulo-producto-carrito {
	font-size: 20px;
    padding-left: 4px;
	color:rgb(130, 129, 129);
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
}
.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.9;
}
.icon-close {
	width: 25px;
	height: 25px;
}

.icon-close:hover {
	stroke: rgb(172, 25, 25);
	cursor: pointer;
}
.cart-product {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	padding: 10px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-family: inherit;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: #7e97b8;
	background-color: #e0e8ef;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: rgba(255, 255, 255, 0.333);
	border-radius: 40px 40px 40px 40px;
	padding: 16px 24px 16px 28px;
	transform: translate(0px, 0px) rotate(0deg);
	transition: 0.2s;
	box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
   }
   
   button:hover {
	color: #516d91;
	background-color: #E5EDF5;
	box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
   }
   
   button:active {
	box-shadow: none;
   }

   @media screen and (max-width: 1100px)  { 

		.titulo-producto-carrito {
			font-size: 15px;
		
		}

   }