.active{
    --bs-accordion-active-bg: #f9e376;
}
/* cuando el ancho de la ventana del navegador es igual o inferior a 767 píxeles */
@media screen and (max-width: 767px) {
    .mi-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}