.active{
    --bs-accordion-active-bg: #f9e376;
}

@media (max-width: 767px) {
    .mi-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}