.color-text {
    color: rgb(255, 187, 0);
}
.logo{
  width: 250px;
  height: 50px;
}
@media (max-width: 767px) {
    .logo {
      display: none;
    }
    .mi-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}
